body {
            font-family: Arial, sans-serif;
            background-image: url('/images/llll.png');
            background-size: cover;
            
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
  
  .login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25%;
    width: 400px;
    color:grey;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }

  .password-container{
    width: 400px;
    font-family: 'Asap', sans-serif;
    position: relative;
  }
  .password-container input[type="password"],
  .password-container input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
  }
  .fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }
  
.login-title {
  text-align: center;
  margin-top: 12%;
  font-family: 'Asap', sans-serif;
  
  font-weight: 800;
  color: #333;
  margin-bottom: 40px;
}
 .login::before,
  .login::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  .login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(69, 105, 144, 0.15);
    animation: wawes 6s infinite linear;
  }
  
  .login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(2, 128, 144, 0.2);
    animation: wawes 7s infinite;
  }
  
  .login > input {
    font-family: 'Asap', sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(221, 228, 227, 0.734);
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  
  .login > button {
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: rgb(90, 51, 197);
    transition: background-color 300ms;
    
    
  }
     
   .home {
   margin-right:200px;
    margin-top: 10px;
    color:black !important;
    
}
    .logo-container {
      position: absolute;
      top: 15px;
      left: 15px;
      
    }
    
    .logo-container img {
      width: 192px !important; /* Adjust the width as needed */
      height: 50px !important; /* Adjust the height as needed */
    }
    
   .forgot-password {
   
    margin-top: 10px;
    color:black !important;
    
}
.register-link {
   margin-right: 80%;
  margin-top: 10px;
  color:black !important;
}
  .login > button:hover {
    background-color: rgba(219, 71, 83, 1);
  }
  
  @keyframes wawes {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }
  